{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_post') }}" method=post class=add-entry>
      <dl>
        <dt>Post:
        <dd><textarea name=body rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  </div>
  {% for post in posts %}
  <div class=card>
    <div class=card-title>
      {{ user.first_name + " " + user.last_name + " says..."}}
    </div>
    <div class=card-body>
      <h2>{{ post.body|safe }}</h2>
    </div>
  </div>
  {% endfor %}
{% endblock %}